/*================================================================================
	Item Name: Ardent MDS 
	Version: 5.0
	Author: MU3 Interactive
	Author URL: https://www.mu3interactive.com
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


.center{
	width: 100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center !important;
}
.answerImageClass{
	margin:  0 20px ;
	border-radius: 10px;
}
/* label{
color : 000 !important;
} */
/* 
.swal-modal{
	-webkit-transform: translate3d(0,0,0); 
} */

.Wrapper{
    overflow-y: scroll;
  }
  .dataTables_length > label {
    display: none !important;
  
  }  
  .page-length-option_filter  > label {
    position : absolute !important;
    right : 40px !important;
  }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: left !important;
    margin-top:20px; 
  }  