/*----------------------------------------
    Login Page
------------------------------------------*/
.login-bg {
   background-image: url("../../images/avatar/flat-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
 


/*background-image: -moz-radial-gradient(50% 50%, circle closest-side, #ff6201 60%, #ff9800 100%);*/
/*	background-image: -webkit-radial-gradient(50% 50%, circle closest-side,#ff6201 60%, #ff9800 100%);*/
/*	 background-image: -ms-radial-gradient(50% 50%, circle closest-side,#ff6201 60%, #ff9800 100%);*/

}

#login-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

#login-page .card-panel.border-radius-6.login-card {
  margin-left: 0 !important;
}
